body {
  transition: 0.25s;
}
body.dark-mode {
  background-color: #111f31;
  color: #ffffff;
}
body.dark-mode h1, body.dark-mode h4, body.dark-mode strong {
  color: #ffffff;
}
body.dark-mode code {
  background-color: #172f4e;
  color: #ffffff;
}
body.dark-mode .terminal-card {
  border: 1px solid #1a2c44;
}
body.dark-mode .terminal-card header {
  background: #253e5f;
}
body.dark-mode .button-switch-theme-dark {
  background: #0d131f;
  color: rgba(255, 255, 255, 0.85);
}

body a[aria-current="page"] {
  color: #000 !important;
}
body.dark-mode a[aria-current="page"] {
  color: #ffffff !important;
}